<div style='text-align:center;'>
  <div style="vertical-align:top;padding-bottom:40px;margin:0;width:100%;line-height:0px;">
    <img src="https://www.reservebar.com/spree/uploads/2301/original/Macallan_banner_secondPage.jpg?1442471386" alt="Experience The Macallan Single Malt Scotch Whisky">
  </div>

  <% @products.each do |product| %>
    <div style="display:inline-block;vertical-align:top;padding:30px 15px;margin:0;text-align:center;">
      <div style="width:235px;">

        <% if product.permalink == 'the-macallan-fine-oak-10-years-old' %>
          <img src="https://www.reservebar.com/spree/uploads/2305/original/Macallan_FineOak10YO.jpg?1442471451" alt="The Macallan Fine Oak 10 Years Old"><br>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:24px;">THE MACALLAN®<br> Fine Oak<br>10 Years Old</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:16px;line-height:16px;">750ml</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:48px;"><%= number_to_currency(product.price) %></p>
          <%= form_for :order, url: populate_orders_url do |f| %>
            <%= hidden_field_tag "variants[#{product.master.id}]", 1 %>
            <%= image_submit_tag "https://www.reservebar.com/spree/uploads/2304/original/Macallan_btnAddToCart.png?1442471427", alt: "Add To Cart" %>
          <% end %>
        <% elsif product.permalink == 'the-macallan-sherry-oak-12-years-old' %>
          <img src="https://www.reservebar.com/spree/uploads/2306/original/Macallan_SherryOak12YO.jpg?1442471573" alt="The Macallan Sherry Oak 12 Years Old"><br>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:24px;">THE MACALLAN®<br>Sherry Oak<br>12 Years Old</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:16px;line-height:16px;">750ml</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:48px;"><%= number_to_currency(product.price) %></p>
          <%= form_for :order, url: populate_orders_url do |f| %>
            <%= hidden_field_tag "variants[#{product.master.id}]", 1 %>
            <%= image_submit_tag "https://www.reservebar.com/spree/uploads/2304/original/Macallan_btnAddToCart.png?1442471427", alt: "Add To Cart" %>
          <% end %>
        <% elsif product.permalink == 'the-macallan-fine-oak-15-years-old' %>
          <img src="https://www.reservebar.com/spree/uploads/2307/original/Macallan_FineOak15YO.jpg?1442471633" alt="The Macallan Fine Oak 15 Years Old"><br>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:24px;">THE MACALLAN®<br>Fine Oak<br>15 Years Old</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:16px;line-height:16px;">750ml</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:48px;"><%= number_to_currency(product.price) %></p>
          <%= form_for :order, url: populate_orders_url do |f| %>
            <%= hidden_field_tag "variants[#{product.master.id}]", 1 %>
            <%= image_submit_tag "https://www.reservebar.com/spree/uploads/2304/original/Macallan_btnAddToCart.png?1442471427", alt: "Add To Cart" %>
          <% end %>
        <% elsif product.permalink == 'the-macallan-fine-oak-17-years-old' %>
          <img src="https://www.reservebar.com/spree/uploads/2308/original/Macallan_FineOak17YO.jpg?1442471644" alt="The Macallan Fine Oak 17 Years Old"><br>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:24px;">THE MACALLAN®<br>Fine Oak<br>17 Years Old</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:16px;line-height:16px;">750ml</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:48px;"><%= number_to_currency(product.price) %></p>
          <%= form_for :order, url: populate_orders_url do |f| %>
            <%= hidden_field_tag "variants[#{product.master.id}]", 1 %>
            <%= image_submit_tag "https://www.reservebar.com/spree/uploads/2304/original/Macallan_btnAddToCart.png?1442471427", alt: "Add To Cart" %>
          <% end %>
        <% elsif product.permalink == 'the-macallan-sherry-oak-18-years-old' %>
          <img src="https://www.reservebar.com/spree/uploads/2309/original/Macallan_SherryOak18YO.jpg?1442471656" alt="The Macallan Sherry Oak 18 Years Old"><br>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:24px;">THE MACALLAN®<br>Sherry Oak<br>18 Years Old</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:16px;line-height:16px;">750ml</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:48px;"><%= number_to_currency(product.price) %></p>
          <%= form_for :order, url: populate_orders_url do |f| %>
            <%= hidden_field_tag "variants[#{product.master.id}]", 1 %>
            <%= image_submit_tag "https://www.reservebar.com/spree/uploads/2304/original/Macallan_btnAddToCart.png?1442471427", alt: "Add To Cart" %>
          <% end %>
        <% elsif product.permalink == 'the-macallan-rare-cask' %>
          <img src="https://www.reservebar.com/spree/uploads/2310/original/Macallan_RareCask.jpg?1442471666" alt="The Macallan Rare Cask"><br>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:24px;">THE MACALLAN®<br>Rare Cask<br>&nbsp;</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:16px;line-height:16px;">750ml</p>
          <p style="font-family:Macallan,sans-serif;color:#c6c6c6;font-weight:normal;font-size:21px;line-height:48px;"><%= number_to_currency(product.price) %></p>
          <%= form_for :order, url: populate_orders_url do |f| %>
            <%= hidden_field_tag "variants[#{product.master.id}]", 1 %>
            <%= image_submit_tag "https://www.reservebar.com/spree/uploads/2304/original/Macallan_btnAddToCart.png?1442471427", alt: "Add To Cart" %>
          <% end %>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
