<table>
  <tr>
    <% @products.each do |product| %>
      <td>
        <%= form_for :order, :url => populate_orders_url do |f| %>
          <h4><%= product.name %></h4>
          <%= hidden_field_tag "variants[#{product.master.id}]", 1 %>
          <br />
          <%= button_tag :class => 'large primary', :id => 'add-to-cart-button' do %>
            <%= t(:add_to_cart) %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
