<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->

<head data-hook="inside_head">
  <meta charset="utf-8" />
  <script type="text/javascript" src="https://beta.engage360.co/api/static/js/e360comm.js"></script>
  <%= render :partial => 'spree/shared/head' %>
  <%= render :partial => 'spree/shared/google_analytics_async' %>
  <%= twitter_card %>
  <%= opengraph %>
  <meta property=”og:site_name” content=”ReserveBar”/>
  <meta name="bitly-verification" content="eeb2823bcf6f"/>
  <style>
    body { background: none; }
    .container {
      box-shadow: none;
      border: 5px solid rgba(164, 153, 99, 1.0);
      border-radius: 5px;
      margin-top: 70px;
    }
  </style>
</head>

<body>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=416911481660452";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <% if controller.controller_name == 'orders' %>
    <% if controller.action_name == 'edit' %>
      <% if current_user.present? %>
        <% @order.update_attributes(user_id: current_user.id) %>
      <% end %>
    <% elsif controller.action_name == 'show' %>
      <% if flash[:commerce_tracking] %>
        <% h = Hash.new %>
        <% @order.line_items.map { |li| h[li.product.sku] = li.quantity } %>
        <script>
          e360comm.reserveBar(
            "<%= session[:access_token] %>",
            "<%= session[:wristband_id] %>",
            "<%= session[:event_id] %>",
            <%= h.to_json.html_safe %>
          );
        </script>
      <% end %>
    <% end %>
  <% elsif controller.controller_name == 'checkout' && controller.action_name == 'edit' %>
    <% if @order.state == 'address' %>
      <script>
        $(function(){
          $('#order_ship_address_attributes_firstname').val('<%= session[:first_name] %>')
          $('#order_ship_address_attributes_lastname').val('<%= session[:last_name] %>')
          $('#order_ship_address_attributes_zipcode').val('<%= session[:billing_zip] %>')
          $('#order_ship_address_attributes_phone').val('<%= session[:billing_phone] %>')
        });
      </script>
    <% elsif @order.state == 'payment' %>
      <script>
        $(function(){
          $('#name_on_card').val('<%= "#{session[:first_name]} #{session[:last_name]}" %>')
        });
      </script>
    <% end %>
  <% end %>

  <%= render partial: "layouts/#{@brand}" %>

  <!--[if lt IE 9 ]>
  <script type="text/javascript">
    $(function(){
      //IE <9 does not support last-child in CSS:
      $("footer li:last-child").css("float","right");
      $("footer li:last-child").css("margin-right","0px");
      $("div#top-menu > ul > li:last-child").css("float", "right");
      $("div#top-menu > ul > li:last-child").css("margin-right","0px");
      $("div#top-menu > ul > li > a").click(function(){});
      
    });
  </script>
  <![endif]-->

  <%= render :partial => 'spree/shared/columnizer_ie' %>
  <script type="text/javascript" src="/assets/store/bootstrap.js"></script>
  <script type="text/javascript">
    var touchClass = ('ontouchstart' in document.documentElement) ? 'touch' : 'no-touch';
    $('body').addClass(touchClass);
  </script>

</body>

</html>
